<div class="dashboard-card left-card">
          <div class="subject">reaction to: <%=link_to request.post.subject, post_path(request.post) %></div>
          <%= request.message %> <br> <br>

            <!-- Show status of request -->
            <% if request.status == "pending" %>
             <div class="label label-warning"><%= request.post.author.title %> didn't respond yet!</div>
            <% elsif request.status == "accepted" %>
              <div class="label label-success">You are a match with <%= request.post.author.title %> </div>
            <% elsif request.status == "declined" %>
              <div class="label label-danger"><%= request.post.author.title %> declined your request</div>
            <% else %>
              <div class="wrong">Something went wrong</div>
            <% end %> <br> <br>
            <div class="created-at"> updated at <%= request.updated_at.strftime("%c") %></div> <br>
            </div>
