<div class="wrapper-profile">

<div class="profile-body">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12">
    <div class="profile-flex">
      <%= cl_image_tag @user.full_picture, class: " profile-picture" %>
    </div>
    </div>
    <div class="col-md-8 col-xs-12">
      <div class="profile-content">
      <h3 class="profile-underline"><span class="profile-title"><%= @user.title  %></span></h3>
      <div class="profile-description">
        <% if @user.description.length > 0 %>
            <%= @user.description %>
          <% else %>
            <br>
            <div class="profile-please">You didn't fill in your description yet, <br>
            please edit your profile to keep up to date..</div>
        <% end %>
      </div>
      <user class="profile-city">I'm from <%= @user.city %></user> <br>
      <% if @user == current_user %>
      <%= link_to "EDIT", edit_profile_path, class: "hvr-underline-from-center btn-border-black ruimte"  %>
      <% end %>
    </div>
    </div>
  </div>
</div>
</div>

<div class="profile-links">
  <div class="container profile-container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 ">
        <div class="profile-stories">
        <h3 class="profile-underline-blue"><span class="profile-title"> Latest stories with <%= @user.title %></span></h3>
          <% @user.shared_stories.take(5).each do |story|%>
          <%= link_to story.title, shared_stories_path(story) %> <br>
          <% end %>
    </div>
      </div>
      <div class=" col-xs-12 col-sm-6">
         <div class="profile-posts">
       <h3 class="profile-underline"><span class="profile-title"> Latest posts from <%= @user.title %></span></h3>
      <% @user.posts.take(5).each do |post|%>
      <%= link_to post.subject, posts_path(post) %> <br>
      <% end %>
    </div>
      </div>
    </div>
  </div>
</div>
</div>
