<div class="wrapper">
  <div class="form">
    <h1>Write a story</h1> <br>
    <%=  simple_form_for [@story] do |f| %>

    <% if @story.errors.any? %>
    <div class="alert alert-warning"> <%= @story.errors.messages.first[1].join %> </div>
    <% end %>

    <%= f.input :title, label: false, placeholder: "Title" %>
    <%= f.input :story, label: false, placeholder: "Write your story here..." %>
    <%= select_tag "shared_story[member_id]", options_for_select(current_user.connections.map { |connection| [connection.title, connection.id, { "data-img-src" => connection.full_picture }] }), class: "js-member-image-picker" %>
    <br>
    <%= f.submit class: "form-button"%>
    <% end %>
  </div>

  <p>

  </p>

</div>



