<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= "RefuGapp" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

    <!-- Notification -->
    <%= link_to dashboard_root_path() , class: "navbar-wagon-item navbar-wagon-link" do%>
    <div class="badge-container">
      <i class="fa fa-comment"></i>
      <div class="badge badge-blue"></div>

    </div>
    <% end  %>



    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= link_to current_user.email, "#", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to profile_path(current_user) do %>
            <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <% else %>

    <!-- Button (call-to-action) -->
    <%= link_to (new_user_session_path) do %>
    <div class="navbar-wagon-item navbar-wagon-button btn">
      <i class="fa fa-plug" aria-hidden="true"></i>
      LOGIN
    </div>

    <% end  %>

    <% end %>
  </div>
</div>

