<div class="wrapper">
  <div class="form">
    <h3 class="form-title">NEW REQUEST</h3>

    <h3>Request to:</h3>
    <div class="post-card">
      <div class="one-post-ago">
        <p><%= time_ago_in_words(@post.created_at) %> ago</p>
      </div>
      <div class="one-post-image">
        <%= cl_image_tag @post.author.full_picture, class: "avatar" %>
        <%= link_to @post.author.title, user_path(@post.author) %>
      </div>

      <div class="posts-underline-orange">
        <span class="posts-title"> <%= @post.subject %></span></div> <br>

        <div class="posts-content">
          <%= @post.content %>
        </div>
      </div>
      <%= form_for [@post, @request] do |f| %>
      <% if @request.errors.any? %>
      <div class="alert alert-warning alert-request"> <%= @request.errors.messages.first[1].join %> </div>
      <% end %>
      <p><%= f.text_area :message ,:class => 'message', placeholder: " Write your request here", required: true, label: false  %></p>
      <p><%= f.submit :class => 'btn btn-blue-black request-button' %></p>
      <% end %>
    </div>
  </div>


