<div class="dashboard-wrapper">



  <%= render "dashboard/welcome" %>


  <div class="dashboard-container">
    <!-- SHOW ALL RECEIVED REQUESTS -->
    <div class="dashboard-left">
      <div class="received_requests">
        <h2>Your received requests</h2>
        <% @received_requests.reverse.take(3).each do |request| %>
            <!-- Render received request -->
            <%= render "dashboard/received_request", request: request  %>
        <% end %> <br>
        <% if @received_requests.length > 3 %>
          <%= link_to "See more received requests", dashboard_received_requests_path %>
        <% end %>
      <br>
    </div>

      <!-- SHOW ALL SENT REQUESTS -->
    <div class="sent_requests">
      <h2>Your sent requests</h2>
        <% @sent_requests.reverse.take(3).each do |request| %>
        <!-- Render sent request -->
           <%= render "dashboard/sent_request", request: request  %>
        <% end %> <br>
        <% if @sent_requests.length > 3 %>
          <%= link_to "See more sent requests", dashboard_sent_requests_path %>
        <% end %>
       <br>
    </div>
    </div>
    <!-- end of left dashboard -->

         <!-- SHOW ALL YOUR POSTS AND THE REQUESTS MADE ON IT -->
    <div class="dashboard-right">
      <div class="your_posts">
        <h2 class="text-center">Your posts</h2>
        <% @posts.reverse.take(3).each do |post| %>
        <!-- render post -->
        <%= render "dashboard/post", post: post %>
        <% end %> <br>
        <% if @posts.length > 3 %>
          <%= link_to "See all your posts", dashboard_posts_path  %>
        <% end %>
         <br>
      </div>
    </div>
    <!-- end of right dashboard -->

  </div>
</div>









