<div style="width: 200px">
  <br>
  <p class="posts-underline-orange"><%= link_to post.subject, post_path(post) %></p>
  <p>-<%= post.author.username %>
    <i> (<%= time_ago_in_words(post.created_at) %> ago)</i>
  </p>
  <p><%= truncate(post.content, :length => 120) %></p>

  <% if post.content.length > 120 %>
  <p class="read_more_button"> <%= link_to "Read more", post_path(post) %></p>
  <% end  %>



</div>


