<div class="wrapper-posts">
  <div class="form-title"><h1>Posts</h1></div>
  <!-- FILTER THE RESULTS -->
  <span>
    <span class="btn-black active" data-target="#list-part">LIST</span>
    <span class="btn-black" data-target="#map">MAP</span>


  </span>
  <div class="container" id="list-part">

    <div class="posts-selection">
      <div class="posts-type-selection person-type">
        <%= link_to "Refugee", posts_path(kind: 'refugee', category: @category), class: filter_kind_css_class('refugee') %>

        <%= link_to "Dutchie", posts_path(kind: 'dutchie', category: @category), class: filter_kind_css_class('dutchie') %>

        <%= link_to "All", posts_path(kind: 'all', category: @category), class: filter_kind_css_class('all') %>
      </div>

      <div class="posts-type-selection category-type">
        <%= link_to "Skills", posts_path(category: 'skills', kind: @kind), class: filter_category_css_class('skills') %>

        <%= link_to "Social", posts_path(category: 'social', kind: @kind), class: filter_category_css_class('social') %>

        <%= link_to "Languages", posts_path(category: 'languages', kind: @kind), class: filter_category_css_class('languages') %>

        <%= link_to "All", posts_path(category: 'all', kind: @kind), class: filter_category_css_class('all') %>
      </div>
    </div>
    <div class="row">
      <% @posts.reverse.each do |post| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="posts-card">
          <div class="posts-underline-orange">
           <span class="posts-title"> <%= post.subject %></span></div> <br>
           <div class="posts-content">
            <%= truncate(post.content, :length => 120) %>
            <% if post.content.length > 150 %>
            <%= link_to "read more", post_path(post)   %>
            <% end %>
          </div>
          <div class="post-ago">
            <p><%= time_ago_in_words(post.created_at) %> ago</p>
          </div>
          <div class="posts-images">
            <%= cl_image_tag post.author.full_picture, class: "avatar" %>
            <%= link_to post.author.title, user_path(post.author) %>
          </div>
          <div class="post-make">
            <% if post.button_valid?(current_user) %>
            <p><%= link_to "Write a request to this Post", new_post_request_path(post), class: "hvr-underline-from-center btn-border-orange" %></p>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <% if current_user %>
    <div class="posts-center">
      <%= link_to 'Make a post!', new_post_path, class:"hvr-sweep-to-right btn-black  make-post" %>
    </div>
    <% end %>
  </div>
</div>


</div>

<div id="map" class="dynamic_map text-center" style="width: 75%; height: 400px;"></div>


<!-- This is the code for the map -->
<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).on('ready', function() {
handler = Gmaps.build('Google');
handler.buildMap({
internal: { id: 'map' },
provider: {
zoom: 8,
center:   new google.maps.LatLng(52.3702, 4.8952),
styles: window.mapStyle
}
},
function(){
markers = handler.addMarkers(<%= raw @markers.to_json %>);
handler.bounds.extendWith(markers);
<!-- handler.fitMapToBounds(); -->
});
})
<% end %>
<% end %>



