<div class="wrapper">
  <div class= "card text-center">
    <div class="card-title">
      <h1><%= @post.subject %></h1>
    </div>

    <h3><%= link_to @author.username, user_path(@author) %>
      <i> <%= time_ago_in_words(@post.created_at) %> ago</i>
    </h3>


    <div class="card-description">
      <p><%= @post.content %></p>
      <% if @post.button_valid?(current_user) %>
      <p><%= link_to "Write aA request to this Post", new_post_request_path(@post), class: "make btn btn-success" %></p>
      <% end %>
      <p><%= link_to 'Back to overview', posts_path %></p>
      <div id="post_map" style="width: 300px; height: 300px";></div>

    </div>



  </div>

</div>
<!-- This is the code for the map -->
<% content_for(:after_js) do %>
<script type="text/javascript">
  $(document).on('ready', function() {
    var myLatLng = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};

    var map = new google.maps.Map(document.getElementById('post_map'), {
      zoom: 15,
      center: myLatLng,
      styles: window.mapStyle
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        fillOpacity: 0.7,
        fillColor: '#5F9CCE',
        strokeOpacity: 1.0,
        strokeColor: '#5F9CCE',
        strokeWeight: 3.0,
        scale: 40 //pixels
      }

    });
  })
</script>
<% end %>





