<div class="wrapper-post">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
       <div class="post-card">
        <div class="one-post-ago">
            <p><%= time_ago_in_words(@post.created_at) %> ago</p>
          </div>
          <div class="one-post-image">
            <%= cl_image_tag @post.author.full_picture, class: "avatar" %>
            <%= link_to @post.author.title, user_path(@post.author) %>
          </div>

         <div class="posts-underline-orange">
          <span class="posts-title"> <%= @post.subject %></span></div> <br>

          <div class="posts-content">
            <%= @post.content %>
          </div>

          <div class="post-make">
            <% if @post.button_valid?(current_user) %>
            <p><%= link_to "Write a request to this Post", new_post_request_path(@post), class: "hvr-underline-from-center btn-border-orange" %></p>
            <% end %>
            <%= link_to "Back to all posts", posts_path, class: "hvr-underline-from-center btn-simple-orange"  %>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div id="post_map" class ="single_map text-center one-post-map";></div>
            </div>
      </div>
  </div>
  </div>
</div>



<!-- This is the code for the map -->
<% content_for(:after_js) do %>
<script type="text/javascript">
  $(document).on('ready', function() {
    var myLatLng = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};

    var map = new google.maps.Map(document.getElementById('post_map'), {
      zoom: 15,
      center: myLatLng,
      styles: window.mapStyle
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        fillOpacity: 0.7,
        fillColor: '#00C7FD',
        strokeOpacity: 1.0,
        strokeColor: '#00C7FD',
        strokeWeight: 3.0,
        scale: 40 //pixels
      }

    });
  })
</script>
<% end %>





